.login-field{
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    
    
}
ion-item{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height:50px;
    margin: 0 !important; 
    // border:1px solid #021c41;
}
ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
  }
ion-avatar{
    position:fixed;
    right:-15px;
    top:-15px;
   
}

ion-title{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    font-size: 36px;
    color: #ffb800;
    right: 15px;
}

// ion-button{
//     --background:  #e4b706;
// }
.content-top{
    padding-top: 20px;
}



