

<ion-content>
  <div class="content-top">
  <ion-card-header>
    <ion-title>Duoc<span style="color: #FFFFFF">UC</span>
      <ion-avatar>
        <img src="assets/img/logo_blanco.png" />
      </ion-avatar>
    </ion-title>
  </ion-card-header>
  <img src="assets/img/vina_duoc.jpg" />
</div>
</ion-content>


<ion-content>

  <div class="login-field">
  <ion-item lines="full">
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input type="text" minlength="3" maxlength="8" [(ngModel)]="user.Usuario"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input type="password" minlength="4" maxlength="4" [(ngModel)]="user.Contrasena"></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button expand="full" (click)="ingresar()">Ingresar</ion-button>
      <div class="ion-text-center ion-padding-top">
        <a [routerLink]="['/forgot-password']">¿Olvidó la contraseña?</a>
      </div>
    </ion-col>
  </ion-row>

</div>

</ion-content>