<ion-content #slidingCard [fullscreen]="true">

  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-title>Generar QR</ion-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Id Asignatura:</ion-label>
        <ion-input [(ngModel)]="dato.idAsignatura"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Sección:</ion-label>
        <ion-input [(ngModel)]="dato.seccion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Asignatura:</ion-label>
        <ion-input [(ngModel)]="dato.asignatura"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Docente</ion-label>
        <ion-input [(ngModel)]="dato.docente"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-input [(ngModel)]="dato.correo"></ion-input>
      </ion-item>

      <div class="ion-text-center ion-padding">
        <ion-button (click)="mostrar()" color="warning" fill="solid">
          Enviar
        </ion-button>
      </div>

      <!-- <p>{{datoJson}}</p> -->

      <div class="ion-text-center ion-padding-bottom" >
      <ngx-qrcode [elementType]="elementType" [value]="datoJson" cssClass="aclass" errorCorrectionLevel="L">
      </ngx-qrcode>
    </div>
    </ion-list>
  </ion-card>

</ion-content>