.txt-head{
    font-size: 12px;
    color:#ffff

}
label p{
    margin:0;
}
label p:before {
    content:"Día: "
    
}
.tab-group{
    margin: 3em auto;
    max-width: 503mm;
    width:100%;
}
.tab{
    position:relative;
    width:100%;
}
.tab input{
    position:absolute;
    left:0;
    top:0;
    opacity:0;
}
.tab label{
    color:#ffff;
    display:block;
    font-weight: bolder;
    line-height: 3;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
}
.tab input:focus + label,
.tab label:hover{
    background: #e4b706;
    color:#ffff;
    transition: .3s;
}

.tab-content{
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
}
.tab-content p{
    margin: 1em 0;
    margin-left:2em;
}
.tab input:checked ~ .tab-content{
    max-height: 20em;
}