<ion-content>
  <div #slidingCard>
    <ion-card>
      <div class="ion-padding-horizontal ion-padding-bottom">
        <ion-card-header class="ion-text-center">
          <h1>Registrar Asistencia</h1>
        </ion-card-header>

        <div class="ion-text-center">

          <ion-button class="btn" color="warning" size="large" (click)="barCode()" fill="solid" shape="">
            <ion-icon name="camera-outline">Abrir cámara</ion-icon>
          </ion-button>

        </div>
        <p class="ion-text-center">¡Lee un código QR entregado por tu docente para poder registrar tu asistencia!</p>
      </div>
    </ion-card>


    <div *ngIf="(data != null)">
      <ion-card *ngIf="(data != &quot;&quot;)">
        <div class="ion-padding-horizontal ion-padding-bottom">
          <div class="ion-text-center">
            <h1>Datos Scanneados</h1>
          </div>
          <div class="ion-text-left">
            <!-- <p>Información QR: </p> -->

            <!-- <a *ngIf="data.includes('http')" [href]="data">{{ data }}</a> -->
            <p *ngIf="data.includes('idAsignatura')">Id asignatura: {{ idAsignatura }}</p>
            <p *ngIf="data.includes('idAsignatura')">Sección: {{ seccion }}</p>
            <p *ngIf="data.includes('idAsignatura')">Asignatura: {{ asignatura }}</p>
            <p *ngIf="data.includes('idAsignatura')">Docente: {{ docente }}</p>
            <p *ngIf="data.includes('idAsignatura')">Correo: {{ correo }}</p>
            <p *ngIf="!data.includes('idAsignatura')">Por favor, scannee un código válido.</p>

            <div *ngIf="data.includes('idAsignatura')" class="ion-text-center">
              <ion-button color="warning" size="large" (click)="openEmail()" fill="solid">
                Enviar correo
              </ion-button>
            </div>


          </div>
        </div>
      </ion-card>
    </div>
  </div>

  <div class="ion-text-center">
    <ion-button color="warning" size="large" href="random" fill="solid">
      Error 404
    </ion-button>
  </div>

  <div class="ion-text-center">
    <ion-button (click)="salir()" color="warning" size="large" fill="solid">
      Salir
    </ion-button>
  </div>

</ion-content>