<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido, user.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-title>Registrar Asistencia</ion-title>
    </ion-card-header>

    <div class="ion-text-center">
  
      <ion-button class="btn" color="warning" size="large" (click)="onClick()" fill="solid" shape="">
        <ion-icon name="camera-outline">Abrir cámara</ion-icon>
      </ion-button>
 
    </div>
    <p class="ion-text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis accusamus quo est
      eaque? Fugit labore quam aperiam, aliquid autem quis a rerum provident pariatur commodi!</p>


  </ion-card>
</ion-content>