.txt-class{
    font-size: 12px;
    padding-left: 16px;
    position: relative;
    bottom: 10px
    
}

.class-title{
    font-size: 18px;
    font-weight: bold;
}

.txt-head{
    font-size: 12px;

}