ion-content{
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-end: 5px;
    --padding-start: 5px;
}
ion-item{
    --padding-bottom: 10px;
}
txt-add{
    --margin-top: 5px;
    --margin-bottom: 5px;
    --margin-end: 5px;
    --margin-start: 5px;
}
ion-button{
    width: 180px;
}