ion-content{
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-end: 5px;
    --padding-start: 5px;
}
ion-item{
    --padding-bottom: 10px;
}
txt-add{
    --margin-top: 5px;
    --margin-bottom: 5px;
    --margin-end: 5px;
    --margin-start: 5px;
}
#send {
    width: 180px;
    --background:  #e4b706;
}

#back {
    --opacity: 100%;
    // --color: white;
    --background: clear;
    // width: 20px;
    
}
